@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-size: 24px; /* Adjust for responsiveness */
  font-weight: bold; /* Make it bold */
  text-align: center; /* Center the text horizontally */
  margin: 0 auto; /* Center the heading block in its parent */
  color: #000; /* Default color */
  
}

.heading2 {
  font-size: 12px; /* Adjust for responsiveness */
  font-weight:500; /* Make it bold */
  text-align: center; /* Center the text horizontally */
  margin: 0 auto; /* Center the heading block in its parent */
  color: #737373; /* Default color */
  
}
@media (min-width: 768px) {
  .heading {
    font-size: 24px; /* Larger font size for medium and larger screens */
  }
  .heading2{
    font-size: 24px;
  }
  .heading3{
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3rem; 
  }
  .heading2{
    font-size: 20px;
  }
  .heading3{
    font-size: 24px;
  }
}


